.feed-tab {
    >header {
        border-bottom: none !important;

        >h1 {
            >img {
                display: block;
                width  : 24px;
                height : 24px;
            }

            &.mobile {
                display: none;

                @container (width < @safe-width) {
                    display: flex;
                }
            }

            &:not(.mobile) {
                display: flex;

                @container (width < @safe-width) {
                    display: none;
                }
            }
        }
    }

    >.tabs {
        >ul {
            >.tab {
                width: 50%;
            }
        }
    }

    >main {
        >.post-form {
            border-bottom: 1px solid var(--line-color);
        }
    }
}