.feed-tab {
    >header {
        >h1 {
            >img {
                display: block;
                width  : 24px;
                height : 24px;
            }

            &.mobile {
                display: none;

                @container (width < @safe-width) {
                    display: flex;
                }
            }

            &:not(.mobile) {
                display: flex;

                @container (width < @safe-width) {
                    display: none;
                }
            }
        }
    }
}